$desktop: 1024px;
$tablet: 730px;
$smartphone: 480px;

$primary: #060b26;

$red: #ff0000b3;
$blue: #0000ff;
$white: #fff;
$black: #000;

$bg-window-modal: rgba(0, 0, 0, 0.76);
$bg-window: rgba(0, 0, 0, 0.96);
