.container-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #603c3c;
    height: 100vh;
}

.personal-data{
    margin: auto;

    p{
        color: $white;
    }
}